.Container {
  position: absolute;
  margin: 5% 30%;
  width: auto;
  background-color: #253565;
  padding: 10%;
  text-align: center;
  border-radius: 10px;
  .Login {
    height: 250px;
  }
  .Register {
    height: 450px;
  }
}