.Login_Container
{
    position: absolute;
    margin: 5% 30%;
    width: auto;
    height: 250px;
    background-color: brown;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: center;
}
.Register_Container {
    position: absolute;
    margin: 5% 30%;
    width: auto;
    height: 450px;
    background-color: brown;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: center;
}